<div *ngIf = "!appService.loading">
        <h1>Market Overview</h1><p>This component provides market insights and economic data.

                •	Market Overview
                    •	Market Indices (S&P 500, Nasdaq, etc.)
                    •	Sector Performance
                    •	Economic Data (Interest Rates, Inflation)
                    •	Equity Research
                    •	Stock Screener
                    •	Analyst Reports
                    •	Fundamental Data (P/E Ratios, EPS, etc.)
                    •	Price Targets and Ratings
                    •	Fixed Income Research
                    •	Bond Yield Curves
                    •	Credit Ratings
                    •	Fixed Income Analysis Reports
                    •	Mutual Fund Research
                    •	Fund Comparison Tools
                    •	Fund Performance Ratings
                    •	Research Reports on Mutual Funds
                    •	Economic Calendar
                    •	Upcoming Economic Events (Earnings, GDP reports)
                    •	Historical Event Data
                    •	News
                    •	Market News (Stocks, Bonds, Alternatives)
                    •	Advisor-Specific News (Regulatory Changes, Industry Trends)
            
            
            </p>
</div>