<div *ngIf = "!appService.loading">
        <h1>Account Overview</h1>
        
        <p>This component handles account views and balance details.


                •	Account Overview
                •	Balance and Asset Allocation
                •	Recent Transactions
                •	Performance Summary
                •	Account Holdings
                •	Current Positions
                •	Performance by Security
                •	Asset Class Allocation
                •	Transactions
                •	Transaction History (Buy, Sell, Dividends, etc.)
                •	Pending Transactions
                •	Custom Transaction Reports
                •	Account Performance
                •	Performance Graphs (Time-based, Asset-based)
                •	Comparison to Benchmarks
                •	Historical Performance Metrics



        </p>
        <img src="assets/AccountsOverview.png">
</div>